<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<body>
  <div class="pos-f-t" style="width: 100%">
    <nav
      id="navbar"
      class="navbar navbar-expand-lg fixed-top custom-navbar navbar-transparent"
    >
      <img
        alt="logo"
        src="/access/TDT_logo.png"
        style="width: 80px; height: 40px; margin-right: 4px"
      />
      <a class="navbar-brand" href="#" style="font-size: 25px"> NCKH</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars" style="font-size:24px; color: blue;"></i>
      </button>
      <div class="navbar-collapse nav-bar-items" id="navbarNav">
        <div style="display: flex; justify-content: end">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link disabled" href="/heatmap.html"
              >Heat Map
            </a>
            <a class="nav-item nav-link disabled" href="/video.html">Video</a>
            <a class="nav-item nav-link disabled" href="#">History</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <script></script>
</body>
