<head></head>
<body>
  <nav
    id="navbar"
    class="navbar navbar-expand-lg fixed-top custom-navbar navbar-transparent"
  >
    <img
      alt="logo"
      src="/access/TDT_logo.png"
      style="width: 80px; height: 40px; margin-right: 4px"
    />
    <a class="navbar-brand" href="#" style="font-size: 25px"> NCKH</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      style="display: flex; justify-content: end"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link disabled" href="/heatmap.html">Heat Map</a>
        <a class="nav-item nav-link disabled" href="#">Video</a>
        <a class="nav-item nav-link disabled" href="#">History</a>
      </div>
    </div>
  </nav>
</body>
